
/* Style the legends */
.legend-div {
	font-family: "Lucida Grande", sans-serif;
	font-size: 15px;
}
/* Style for intro page */
.intro-logo {
    display: inline-block;
    vertical-align: middle;
    margin-left : 2px;
    margin-right: 2px;
}
.splash-highlight-box {
    background-color: rgb(79, 98, 40);
    color: white; 
    border-radius: 1em;
    padding: .4em; margin: .4em 0;
    text-align: center;
}
.splash-highlight-box h1 { font-size: 2.2em; font-weight: normal; }
.splash-highlight-box h2 { font-size: 1.5em; font-weight: normal; }
.splash-highlight-box h3, .splash-highlight-box p { font-size: 1.17em; font-weight: normal; }
.splash-highlight-box a:link, .splash-highlight-box a:visited { color: #FaFFd0; background: transparent; } /*F8FFC2*/
.splash-highlight-box a:hover { text-decoration: underline; }
.splash-highlight-box ul { text-align: left; }
.splash-highlight-box li { list-style: inside disc; list-style-type: disc; padding-left: 1.4em; text-indent: -1.4em; }

#splash-column1 {
   display: inline-block;
   float: left;
   width: 500px;
   margin: 10px;
}
ol.decimal-list {
    margin: 4px;
    padding-left: 10px;
}
ol.decimal-list li{
   list-style-type: decimal;
   padding-left: 4px;
   margin-left: 10px;
}
#splash-column2 {
    display: inline-block;
    width: 180px;
    margin: 10px;
}

#map-area .scale-white{
    color: white;
}
#map-area .scale-white .olControlScaleLineTop{
    border: solid 2px white;
    border-top: none;
}
#map-area .scale-white .olControlScaleLineBottom {
    border: solid 2px white;
    border-bottom: none;
}
#map-area .position-white {
    color: white;
}
/* Style for the loadingPanel control */
.olControlLoadingPanel {
    background-image: url('../images/loading.gif');
    position: relative;
    width: 100%;
    height: 20px;
    background-position: center;
    background-repeat:no-repeat;
    display: none;
}
/* Move overview map up so as to not interfer with the lat lon indicator */
#map-area .olControlOverviewMapContainer {
    bottom: 15px;
}

/* Override some EXT styles */
fieldset.x-fieldset {
	border: none;
}

#references li { margin: 1.4em .25em; }
