<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
  <display-name>GLRI Phramites Map {Owner: JL, DB, Coder: PT}</display-name>
  <description>Empty web.xml file for Web Application</description>
  
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  
  <!-- resource-ref> 
    <res-ref-name>jdbc/warpDS</res-ref-name> 
    <res-type>javax.sql.DataSource</res-type> 
    <res-auth>Container</res-auth>
  </resource-ref-->  
  
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
</web-app>
